aside{
    margin-top: 50px;
    
    border-radius: 50px;
}
.topico{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
#cor1{
    background-color: #1A88A4;
    color: #fff;
}
#cor2{
    background-color: #632C91;
    color: #fff;
}
h2{
    align-self: center;
    
}