footer {
    background-color: #AED9E3;
    padding: 20px;
    height: 95vh;
}

.containerRodape {
    max-width: 800px;
    margin: 0 auto;
    text-align: center; 
    align-items: center;

}

.containerRodape > img {
    display: block; 
    margin: 100px auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
    background-color: #dbedf8; 
    color: #000;
}

th {
    background-color: #1880e7;
    color: #fff;
}
.informacao{
    color: #1880e7;
    margin: 30px 10px;
}