header{
    background-image: linear-gradient(#632C91, #1A88A4);
    color: #ffffff;
    
}
.containerCabecalho{
    display: block;
    width: 100%;
    height: auto;
    justify-content: center;
}
.containerCabecalho > img{
    width: 100%;
    height: auto;
}
h1{
    align-self: center;
    text-align: center;
    /* box-shadow: 7px 6px 1px 1px; */
    padding: 5px;
    font-size: 3em;
}

nav{
    position: fixed;

    background-color: #632C91;
    color: #fff;
    align-content: center;
    width: 100%;
    height: auto;
}
ul{
    width: 100%;
    height: auto;
    display: flex;
   
    align-items: center;
   
}
li{
    
    align-content: center;
    width: 100%;
    height: 10vh;
    list-style: none;
    text-align: center;
    /* border: 1px solid red; */
    
}
a{
    
    width: 100%;
    height: 10vh;
    text-decoration: none;
    color: #fff;
    
}
.containerQrcode{
    display: block;
    text-align: center;
}
.containerQrcode > img{
    width: 350px;
    border-radius: 60px;
}