.containerPdfRedes > img{
    display: block;
    width: 100%;
    height: auto;
    justify-self: center;
}

.containerPdfRedes {
    display: block;
    width: 60%;
    height: auto;
}

.containerAssunto{
    background-color: #AED9E2;
    display: flex;
    justify-content: center;
}
.containerAssunto2{
    background-color: #D5C7E1;
    display: flex;
    justify-content: center;
}
