@media screen and (max-width: 950px) {
    .containerPdfRedes {
        display: block;
        width: 100%;
        height: auto;
    }
    h1 {
        text-align: center;
        margin: 15px;
        font-size: 50px;
    }
    #cor1{
        margin: 20px;
    }
    #cor2{
        margin: 20px;
    }
}

/* Para telas menores que 950px */
@media (max-width: 1920px) {
    #minhaImagem {
        content: url('../assets/Slogans/Slogan1920.jpg'); /* Troca a imagem */
    }
}

@media (max-width: 950px) {
    #minhaImagem {
        content: url('../assets/Slogans/Slogan950.jpg'); /* Troca a imagem */
    }
}
@media (max-width: 450px) {
    #minhaImagem {
        content: url('../assets/Slogans/Slogan450.jpg'); /* Troca a imagem */
    }
}
@media (max-width: 375px) {
    #minhaImagem {
        content: url('../assets/Slogans/Slogan375.jpg'); /* Troca a imagem */
    }
}
