@media screen and (max-width: 950px) {
    .containerPdfRedes {
        display: block;
        width: 100%;
        height: auto;
    }
    h1 {
        text-align: center;
        margin: 15px;
        font-size: 50px;
    }
    #cor1{
        margin: 20px;
    }
    #cor2{
        margin: 20px;
    }
}